<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimusinfo.elasticpath.cortexAPI"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/EPAppTheme" >
        <activity
            android:name="com.optimusinfo.elasticpath.cortex.EPHomeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.optimusinfo.elasticpath.cortex.product.listing.ProductLisitngActivity"
            android:configChanges="orientation"
            android:label="@string/titlePageProductListings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.optimusinfo.elasticpath.cortex.product.details.ProductDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/titlePageProductDetails"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.optimusinfo.elasticpath.cortex.cart.CartActivity"
            android:configChanges="orientation"
            android:label="@string/titlePageCart"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.optimusinfo.elasticpath.cortex.authentication.AuthenticationActivity"
            android:configChanges="orientation"
            android:label="@string/titlePageCart"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>